/* Options */

#cslider-optionset {
    padding: 10px 0;
}

#cslider-optionset .cslider-options {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

#cslider-optionset .cslider-heading p {
    margin: 15px 0 5px;
    padding: 15px 0 0;
    font-weight: bold;
    border-top: 1px solid #c3c4c7;
}

#cslider-optionset .cslider-heading p.no-margin-top {
    margin-top: 0;
    border-top: 0;
}

#cslider-optionset .cslider-options select,
#cslider-optionset .cslider-options input[type="text"],
#cslider-optionset .cslider-options input[type="number"] {
    margin: 0 10px;
}

/* Fields */

#cslider-fieldset tr {
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #f6f7f7;
    border: 1px solid #c3c4c7;
    box-sizing: border-box;
}

#cslider-fieldset td.cslider-fields {
    display: inline-block;
    width: calc(100% - 40px);
}
#cslider-fieldset td.cslider-fields label {
    display: block;
    margin-bottom: 5px;
}
#cslider-fieldset td.cslider-fields input.cslider-img-url {
    margin: 0 0 10px;
}
#cslider-fieldset td.cslider-fields textarea.cslider-content {
    height: 75px;
}

#cslider-fieldset td.cslider-buttons {
    display: inline-block;
    width: 40px;
    text-align: right;
    padding-bottom: 5px;
}
#cslider-fieldset td.cslider-buttons a.button {
    padding: 8px;
    margin: 5px 0 0;
    line-height: 1;
}
#cslider-fieldset td.cslider-buttons a.button img {
    width: 15px;
}